.cardContainer {
    width: 75%;
    margin: 3rem auto;
}

.cardTitle {
    text-align: center;
}

.buttonStyle {
    display: flex;
    justify-content: center;
}

.searchFeature {
    display: flex;
    justify-content: flex-end;
    margin: 1rem auto;
}