.dropzoneContainer {
    display: flex;
    justify-content: space-between;
}

.dropfield {
    width: 300px;
    height: 240px;
    border: 1px solid lightgray;
    display:flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.dropIcon {
    font-size: 3rem; 
}